* {
  margin: 0;
  padding: 0;
  font-family: "Righteous", sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 18px black;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

#headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}

#dateContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}

#detailedForecast {
  padding-top: 20px;
  font-family: verdana;
  font-size: 20px;
}

#dayOfWeek,
#todaysDate {
  font-size: 60px;
}

#timeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

#time {
  color: white;
  /* font-family: "Londrina Outline", cursive; */
  font-size: 200px;
}

#weatherContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}

#dayOfWeek,
#todaysDate {
  padding-top: 20px;
}

#currentTemp,
#dayOfWeek {
  padding-left: 20px;
}

#weatherIcon,
#todaysDate {
  padding-right: 20px;
}
#currentTemp,
#weatherIcon {
  font-size: 120px;
}
