* {
  margin: 0;
  padding: 0;
  font-family: "Righteous", sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 12px black;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

#headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 25%;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(0, 0, 0, 0.3) 35%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

#dateContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

#dayOfWeek {
  font-size: 55px;
}

#todaysDate {
  font-size: 80px;
  position: relative;
  bottom: 20px;
}

#detailedForecast {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.4em;
}

#bigForecast {
  font-family: verdana;
  font-size: 24px;
}

#medForecast {
  font-family: verdana;
  font-size: 22px;
}

#smallForecast {
  font-family: verdana;
  font-size: 20px;
}

#timeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45%;
}

#time {
  color: white;
  /* font-family: "Londrina Outline", cursive; */
  font-size: 200px;
  position: relative;
  right: 20px;
}

#weatherContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.38) 60%,
    rgba(2, 0, 36, 0) 100%
  );
}

#tempContainer {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20px;
}

#currentTemp {
  font-size: 120px;
  position: relative;
  top: 20px;
}
#tempRangeContainer {
  display: flex;
  align-items: center;
  position: relative;
  right: 15px;
  padding: 0 20px;
}

#lowTemp,
#highTemp {
  z-index: 2;
  font-size: 32px;
  text-shadow: -1px 1px 1px #999;
}

#tempRangeBar {
  z-index: 2;
  height: 20px;
  width: 100px;
  background-color: white;
  border-radius: 15px;
  margin: 0 4px;
  box-shadow: 2px 2px 10px black;
}

#tempRangeBg {
  z-index: 1;
  height: 40px;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  filter: blur(15px);
  position: relative;
  bottom: 40px;
  right: 15px;
}

#weatherIcon {
  padding-right: 40px;
  font-size: 140px;
}

#solarContainer {
  display: flex;
  height: 5%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.65);
}

#solarContainer p {
  position: relative;
  bottom: 10px;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
